<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="all">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required only for Android 9 (API 28) and lower -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- Required only up to Android 12L (API 32) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="${appName}"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MC.G2_10"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stopwatch.StopWatchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".candycrushgame.CandyCrushGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multipledelete.MultiDeleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".joke.activity.JokeAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news.activity.NewsAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news.activity.NewsAppDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pdfreader.activity.PdfReaderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pdfreader.activity.PdfReaderIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.activity.VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.activity.VideoFolderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.activity.PlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web.WebAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".web.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordpress.activity.WordpressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordpress.activity.WordpressDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wordpress.activity.WordpressFavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dogs.DogsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".countries.CountriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".calculator.CalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crypto.CryptoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dictionary.DictionaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pop.PopActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movies.MoviesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news2.News2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rickAndMorty.RickAndMortyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weather.WeatherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pokemon.PokemonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".todoNote.TodoNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".meals.activity.MealsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meals.activity.CategoryMealsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".meals.activity.MealDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockmarket.StockMarketActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".randomimagegenerating.RandomImageGeneratingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".randomimagegenerating.ImageInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blogger.activity.BloggerAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blogger.activity.PageDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blogger.activity.PagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".blogger.activity.PostDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockmarket.presentation.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockmarket.presentation.splash.SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>